[Desktop Entry]
Name=StreamLight
Comment=Stream games from a Sunshine-compatible host
Exec=streamlight
Icon=streamlight
Terminal=false
Type=Application
Categories=Qt;Game;Network;RemoteAccess;
Keywords=stream;sunshine;remote play;
